<template>

    <div class="tw-container tw-mx-auto">

        <div>
            <div v-if="articles.length" class="articlegrid tw-grid
                tw-grid-columns-1
                sm:tw-grid-columns-2
                md:tw-grid-columns-3
                lg:tw-grid-columns-4
            ">
                <div
                    v-for="index in layouts[selectedLayout].length" :key="index"
                    :class="'tw-col-span-1 sm:tw-col-span-'+layouts[selectedLayout][index-1].w+' tw-row-span-'+layouts[selectedLayout][index-1].h+' tw-bg-no-repeat tw-bg-cover'"
                    :style="{ backgroundImage: `url('${articles[index-1].image}')` }"
                    v-on:click="openArticle(index-1)"
                >
                    <div class="tw-px-1 tw-m-1 tw-text-xl tw-bg-red-500 tw-font-extrabold">{{ articles[index-1].title }}</div>
                </div>
            </div>
            <div v-else>
                Članki se nalagajo...
            </div>
        </div>

        <div class="tw-h-2"></div>

        <button v-on:click="openLayoutSelection" class="tw-bg-red-500 hover:tw-bg-red-600 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded">
            Izberi predlogo
        </button>

        <div class="tw-h-4"></div>

        <modal name="article">
            <div class="tw-p-1" v-if="articles.length">
                <img class="tw-float-left tw-ml-4 tw-mr-4 tw-my-2 tw-h-64" v-bind:src="articles[selectedArticle].image" />
                <div class="tw-text-xl tw-bg-blue-400 tw-font-extrabold">{{ articles[selectedArticle].title }}</div>
                <div>{{ articles[selectedArticle].text }}</div>
            </div>
            <div v-else>
                Manjkajoči članek.
            </div>
        </modal>

        <modal name="layout-selection">
            <div class="tw-px-1 tw-m-1 tw-text-xl tw-bg-red-500 tw-font-extrabold">Izbira predloge izpisa:</div>
            <button
                v-for="i in buttonArray" v-bind:key=i
                v-on:click="selectLayout(i)"
                class="hover:tw-bg-orange-600 tw-py-1 tw-px-1 tw-rounded"
            >
                <img :src="'/img/grid'+i+'.png'" width="120px">
            </button>

        </modal>

    </div>

</template>

<script>
export default {
    data() {
        return {
            layouts: {
                0:  [{w:1,h:1}, {w:2,h:1}, {w:1,h:1}, {w:2,h:1}, {w:1,h:1}, {w:1,h:1}],
                1:  [{w:2,h:1}, {w:2,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}],
                2:  [{w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}],
                3:  [{w:2,h:1}, {w:2,h:1}, {w:2,h:1}, {w:2,h:1}],
                4:  [{w:2,h:1}, {w:1,h:1}, {w:1,h:1}, {w:2,h:1}, {w:1,h:1}, {w:1,h:1}],
                5:  [{w:4,h:2}],
                6:  [{w:2,h:2}, {w:2,h:1}, {w:1,h:1}, {w:1,h:1}],
                7:  [{w:2,h:2}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}],
                8:  [{w:2,h:2}, {w:2,h:1}, {w:2,h:1}],
                9:  [{w:1,h:1}, {w:2,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}, {w:1,h:1}],
                10: [{w:3,h:2}, {w:1,h:1}, {w:1,h:1}],
            },
            selectedLayout: 0,
            //
            hasArticles: false,
            articles: [
                //
            ],
            selectedArticle: 0,
            //
            buttonArray: [...Array(11).keys()],
        };
    },
    //
    methods: {
        loadLayout: function(selectedLayout) {
            this.selectedLayout = selectedLayout;
            //console.log('Load layout', selectedLayout, ': ', this.layouts[selectedLayout]);
        },
        selectLayout: function(selectedLayout) {
            this.$modal.hide('layout-selection');
            this.loadLayout(selectedLayout);
        },
        openLayoutSelection: function() {
            this.$modal.show('layout-selection');
        },
        openArticle: function(selectedArticle) {
            this.selectedArticle = selectedArticle;
            this.$modal.show('article');
        },
    },
    //
    mounted() {
        this.loadLayout(0);

        axios
        .get('http://localhost:8000/api/articles')
        .then(response => (this.articles = response.data.articles));
    }
}
</script>

<style scoped>

    .articlegrid {
        height:500px;
    }

</style>
